services:

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - '3001:3001'
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/tsconfig.json:/app/tsconfig.json
    depends_on:
      - backend
    environment:
      VITE_BACKEND_URL: ${VITE_BACKEND_URL}

  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - '3000:3000'
    volumes:
      - ./backend/src:/app/src
      - ./backend/tsconfig.json:/app/tsconfig.json
    depends_on:
      - redis
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    driver: local

